# --- System files ---
.DS_Store
Thumbs.db

# --- Node ---
node_modules/

# --- Build Output ---
dist/
build/
.next/
out/

# --- IDE settings ---
.idea/
.vscode/

# --- Environment files ---
.env
.env.local

# pycache
__pycache__/
*.pyc
