@import "tailwindcss";
@tailwind utilities;

html {
    scroll-behavior: smooth;
}
/* --- ANIMATIONS --- */
@keyframes scroll-right {
    0% {
        transform: translateX(-50%);
    }
    100% {
        transform: translateX(0);
    }
}

.animate-scroll-right {
    animation: scroll-right 30s linear infinite;
}

/* Utility to pause animation */
.paused {
    animation-play-state: paused;
}